body {
  color: #fff;
  text-align: center;
}

@font-face {
  font-family: 'Patua One', cursive;
  src: url();
}

@font-face {
  font-family: 'Acme', sans-serif;
  src: url();
}

.footer {
  width: 100%;
  margin: 3rem auto 0;
  padding: 3rem auto 0;
  font-family: 'Baloo 2', cursive;
  color: rgba(182, 182, 182, 0.548);
};

.footer-text {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer-text a {
  color: rgba(182, 182, 182, 0.712);
  text-decoration: none;
}