body {
  color: #fff;
  text-align: center;
}

@font-face {
  font-family: 'Patua One', cursive;
  src: url();
}

@font-face {
  font-family: 'Acme', sans-serif;
  src: url();
}

.footer {
  width: 100%;
  margin: 1rem 0 auto;
  background: linear-gradient(70deg,#7501ce, #4e009c);
  position: absolute;
  bottom: 0;
  font-family: 'Baloo 2', cursive;
  color: rgba(182, 182, 182, 0.548);
};

.footer-text {
  margin: 1rem 0 auto;
  padding: 3rem 0.5rem auto;
}

.footer-text a {
  color: rgba(182, 182, 182, 0.712);
  text-decoration: none;
}