body {
    background: linear-gradient(70deg,#7F00E0, #5900B2) ;
    color: #fff;
    text-align: center;
}

@font-face {
    font-family: 'Patua One', cursive;
    src: url();
}

@font-face {
    font-family: 'Acme', sans-serif;
    src: url();
}

.container {
    width: 60%;
    margin: 2em auto 0;
    border: 1px solid #51EDB4 ;
    border-radius: 30px;
    font-family: 'Baloo 2', cursive;
}
.container p{
    line-height: 1.3em;
    font-size: 1.3em;
}

.num {
    font-size:30px;
    font-weight: bolder;
}
.violet {
    color : #7F00E0
}

.orange {
    color: #FF890A;
}

.green {
    color: #51EDB4;
}

.title1 {
    text-align: center;
    margin-top: 2em;
    font-family: 'Patua One', cursive;

}

.play {
    
    border-radius: 30px;
    background-color: inherit;
    padding: 20px;
    width: 300px;
    margin-top: 2em;
    margin-bottom: 2em;
    font-family: 'Baloo 2', cursive;
    font-size: 1.3em;
    font-weight: bolder;
    background-color: #51EDB4;
    color: #7F00E0;
}

.play:hover {
    background-color: #7F00E0;
    border: 1px solid #51EDB4 ;
    color: #51EDB4;

}

.image {
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

.send {
    border-radius: 30px;
    background-color: inherit;
    padding: 20px;
    width: 300px;
    margin-top: 2em;
    margin-bottom: 2em;
    font-family: 'Baloo 2', cursive;
    font-size: 1.3em;
    font-weight: bolder;
    background-color: #51EDB4;
    color: #7F00E0;
}

.send:hover {
    background-color: #7F00E0;
    color: #51EDB4;
    border: 1px solid  ;

}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

input{
    display: block;
    
}

@media screen and (max-width: 850px) {
    .container {
        width: 80%;
    }

}

@media screen and (max-width: 850px) {
    .send {
        width: 230px;
    }
    .hr {
        display: none;
    }

}




